body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Hero Section Split Background */
.hero {
    display: flex;
    height: 100vh;
}

/* LEFT SIDE */
.hero-left {
    width: 50%;
    background: #e9ecff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-left img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
}

/* RIGHT SIDE */
.hero-right {
    width: 50%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}

.hero-right .hello {
    letter-spacing: 4px;
    color: #377dff;
    font-weight: bold;
}

.hero-right h1 {
    font-size: 45px;
    margin: 10px 0;
    font-weight: 800;
}

.hero-right h2 {
    font-size: 30px;
    margin-top: 5px;
}

.typing {
    color: #377dff;
    font-weight: bold;
}

/* Hide all sections initially */
.hidden {
    display: none;
}

/* ===== 3 DOT MENU ===== */
.menu-btn {
    position: fixed;
    top: 20px;
    right: 25px;
    font-size: 28px;
    color: black;
    cursor: pointer;
    z-index: 999;
}

.dropdown {
    position: fixed;
    top: 60px;
    right: 25px;
    width: 220px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    display: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.dropdown a {
    display: block;
    padding: 8px;
    color: #377dff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
}
